$icomoon-font-family: "radio404" !default;
$icomoon-font-path: "fonts" !default;

$i404-radio404: "\1f3c1";
$i404-coeur: "\2665";
$i404-lecture: "\25b6";
$i404-pause: "\23f8";
$i404-pouce-baisse: "\1f44e";
$i404-volume: "\1f514";
$i404-Muet: "\1f515";
$i404-Radio: "\1f4fb";
$i404-radioking: "\1f451";

